<div class="container" >
    <div class="row">
        <div class="col-lg-12 ">
          
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  
                  <img src="../../../assets/img/tienda2.jpg" class="d-block w-100 img-thumbnail" alt="..." style="width:350;height:350px;">
                  <div class="carousel-caption d-none d-md-block">
                    <!--<img src="../../../assets/img/about.jpg" alt="" class="rounded-circle" width="150" height="150"style="border: 2px solid #6fcfec;
                    font-family:impact;">-->
                    <h5 class="text-white">Productos y Servicios  </h5>
                    
                  </div>
                </div>
                
                
              
            </div>
          
          </div>
        </div>
  </div>
  
</div>