
<!--<app-loading *ngIf="activa"></app-loading>-->
<app-carousel *ngIf="mostrarslider" ></app-carousel>
<div class="container animated fadeIn fast" style="min-height:350px;">
 
    
      <h2 class="text-center text-dark mt-2"style="font-size:2.5rem;font-family:Luckiest Guy,cursive;"> Nuestro Catálogo </h2>
      <div class="row row-cols-1 row-cols-md-3 m-2">
        <div class="card" *ngFor="let productos of inicioproductos, let i= index"style="background-color=grey;">
          <div class=" p-2">
            <img [src]="productos.img" class="card-img-top" height="200"alt="..."  >
            <div class="card-body">
                <h2 class="card-title text-center"style="font-family: 'Arbutus', cursive;">{{productos.nombre}}</h2>
                <p class="card-text" style="font-family:'Averia Gruesa Libre', cursive">This card has supporting text below as a natural lead-in to additional content.</p>
                
                <div class="p-2">
                  <button  (click)="verProducto(productos.nombre)"
                   type="button"
                   class="btn btn-info btn-block">
                    Ver mas...
                  </button>
                  <!--<a [routerLink]="['/productos',i]" class="btn btn-outline-primary">Ver más...</a>-->
                </div>
              </div>
            </div>
          </div>
      </div>
</div>
 
