
<div class="container m-2">
    <div class="btn-group text-center" role="group" aria-label="Basic example">
        <button (click)="alInicio()"type="button" class="btn btn-info">Ir al Inicio</button>
        <button (click)="alContacto()"type="button" class="btn btn-warning">Necesito ayuda</button>
        <!--<button (click)="alProducto()" type="button" class="btn btn-info">Regresa</button>-->
    </div>
</div>

  <br>
  
<div class="container-fluid d-flex justify-content-center">
    

    <img src="{{imagen}}" alt=""style="width:100%;">
</div>





