
    <div id="piePagina" class="container-fluid"style="background-color:rgb(121, 126, 126);">
        <div class="row">


            <!--1era COLUMNA-->
            <div class="container p-2 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <h5>Calidad</h5>
                <div class="row align-items-center justify-content-center">
                    <img class="medida img-thumbnail" src="assets/img/calidad.jpg" alt="">
                </div>
                <br>
                <div class="row align-items-center justify-content-center">
                    <div class="col">
                        <p class=" text-center text-dark p-2 "> Garantizamos la calidad en tus compras. 
                        </p>
                    </div>
                </div>
            </div>
            <!--FIN 1era COLUMNA-->
            <!--2DA COLUMNA-->
            <div id="team" class="container p-2 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <h5>Compromiso</h5>
                <div class="row align-items-center justify-content-center">
                    <img class="medida img-thumbnail" src="assets/img/acuerdo.jpg" alt="">
                </div>
                <br>
                <div class="row align-items-center justify-content-center">
                    <div class="col">
                        <p class="text-center text-dark p-2">Nuestro compromiso; tu satisfacción. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="container p-2 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <h5>Delivery</h5>
                <div class="row align-items-center justify-content-center">
                    <img class=" medida img-thumbnail" src="assets/img/delivery.jpg" alt="">
                </div>
                <br>
                <div class="row align-items-center justify-content-center">
                    <div class="col">
                        <p class="text-center text-dark p-2">Llegamos en donde estés y pronto.
                        </p>
                    </div>
                </div>
            </div>


            <!--FIN 2DA COLUMNA-->
            <!--3RA COLUMNA-->

        </div>
        <div class="row container-fluid align-items-center footerfinal">
            <div class="container-fluid">
                <!--<div class="col-lg-9  text-white">
                    <span class="m-2">My Avenue s/n. San Miguel Lima-Perú</span>
                    <span class="m-2"> Email: <a href="#">  myemail@gmail.com </a></span>
                    <span class="m-2"> Cel: 999-999999</span>
                </div>-->
                <div class="container-fluid d-flex justify-content-center text-white">
                   
                    <!--<span>  &copy; Copyright  2020     </span> -->
                    <span> <a href="#">innovasoluciones.cu@gmail.com</a></span>
                 </div>
    
            </div>
            
        </div>

    </div>
    

