
    <div class="container-fluid animated fadeIn fast"style="background-color:rgb(33, 47, 61);margin-top:100px;">
        <div class="row">


            <!--1era COLUMNA-->
            <div class="container col-md-4 ">
                <h5>Calidad</h5>
                <div class="row align-items-center justify-content-center">
                    <img class="medida img-thumbnail" src="assets/img/calidad.jpg" alt="">
                </div>
                <br>
    
                <p class=" text-center text-secondary p-2 "> 
                    Garantizamos la calidad en tus compras. 
                </p>
    
            </div>
            <div class="container col-md-4 ">
                <h5>Compromiso</h5>
                <div class="row align-items-center justify-content-center">
                    <img class="medida img-thumbnail" src="assets/img/acuerdo.jpg" alt="">
                </div>
                <br>
    
                <p class=" text-center text-secondary p-2 "> 
                    Nuestro compromiso... tu satisfacción. 
                </p>
    
            </div>
            <div class="container col-md-4 ">
                <h5>Rápidez</h5>
                <div class="row align-items-center justify-content-center">
                    <img class="medida img-thumbnail" src="assets/img/delivery.jpg" alt="">
                </div>
                <br>
    
                <p class=" text-center text-secondary p-2 "> 
                    LLegamos en donde estés y pronto. 
                </p>
    
            </div>
            <div class="container-fluid col-md-12 d-flex justify-content-between text-white">
                   
                <!--<span>  &copy; Copyright  2020     </span> -->
                
                <span> <a href="https://politicasycondiciones.netlify.app/">Politicas de Privacidad</a></span>
                <span> <a href="#">ideasdesarrolla@gmail.com</a></span>
               
             </div>
        </div>
    </div>
    

