<div class="container-fluid"  style="background-image: url('../../../assets/img/tienda2.jpg');width:100%; height: 500px;
font-family:impact;">
</div>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <!--imagen del navbar-->
    
    <img src="../../../assets/img/about.jpg" alt="" with="90" height="90"class="rounded-circle">
  
    <a class="navbar-brand text-dark ml-2 text-decoration-none " style="font-family:tahoma;font-size:24px;font-style: oblique;">
      ES X GRACIA
    </a>
    <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link text-dark" routerLink="inicio" style="font-family:cursive;font-size:20px;">Inicio </a>
        </li>
        <li class="nav-item "  routerLinkActive="active">
          <a class="nav-link text-dark" routerLink="contactame" style="font-family:cursive;font-size:20px;">Contactame</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>-->
       
      </ul>
    </div>
  </nav>


  
    
  