<!--<ul>
    <li class="text" *ngFor="let item of chats | async">
      {{item.mensaje}}
    </li>
</ul>-->
<h2 class="text-center mt-2"style="color:#1137BB ;font-family:Carter One;">HOLA !!! dime en que te puedo servir? </h2>


<div class="container">
  <div class="row">
      <div class="col-md-5 container">
        <div class="card mt-3" style="width:100%">
          <img src="../../../assets/img/about.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">La Tienda de Javi</h5>
            <p class="card-text contacto"><span>San Miguel Lima-Perú</span><br>
                <span><a>latiendadejavi1@gmail.com </a></span><br>

                <span>(051)994-705392 - 965146706</span>
            </p>
            <div class="container d-flex justify-content-between"style="">
              <a  class="card-link text-left">
                <button class="btn btn-info">
                    Ir al Catálogo
                </button>
              </a>
              <a class="card-link text-right">
                <button class="btn btn-danger" (click)="_cs.logout()">
                    Cerrar Sesión
                </button>
              </a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4 container bg-white chat-window  p-2">
        <div class="container app-mensajes " id="app-mensajes">

          <div *ngFor="let chat of _cs.chats">
              <div [ngClass]="{'text-left ':_cs.usuario.nombre != chat.nombre,
                          'text-right': _cs.usuario.nombre == chat.nombre }">
                    <span class="badge"
                          [ngClass]="{ 'badge-primary':_cs.usuario.nombre == chat.nombre,
                                      'badge-success':_cs.usuario.nombre != chat.nombre }">
                        {{chat.nombre}}
                    </span>
                    <p>{{chat.mensaje}}</p>
              </div>
          </div>
         
          
        </div> 
       
        
        <div class="container-fluid mt-2 mb-2 " style=" border: 1px solid #4080FF;border-radius:10px;">
       
          <input type="text" name="mensaje"
            class="form-control mt-2"
            [(ngModel)]="mensaje"
            (keyup.enter)="enviarMensaje()"
            placeholder = "Enviar mensaje..."
          >
          <button
              (click)="enviarMensaje()"
              class="btn btn-primary btn-block mt-2 mb-2">
              Enviar
          </button>
         
        </div>
        <br>
      </div>
     
  </div>
</div>