<div class="row">
    <div   class="container col-lg-6 col-sm-12 d-flex justify-content-center p-auto " >
        <div class="row">
            <div class="container-fluid">
            
                <div class="card mt-5" style="width: 20rem;">
                    <img src="../../../assets/img/about.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">La Tienda de Javi</h5>
                    <p class="card-text contacto">My Avenue s/n. San Miguel Lima-Perú
                        <span>Email: <a href="#">  myemail@gmail.com </a></span><br>
                        <span>Celular : (051)999-999999</span>
                    </p>
                    <div class="container d-flex justify-content-between"style="">
                        <a href="/inicio" class="card-link text-left"> <button class="btn btn-info">
                            Ir al Catálogo</button>
                        </a>
                        <a (click)="_cs.logout()"href="#" class="card-link text-right"> <button class="btn btn-danger">
                            Cerrar Sesión</button>
                        </a>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div> 

    <div   class="container col-lg-6 col-sm-12 d-flex justify-content-center p-auto " >
        <div class=" m-5"style="padding:3px;">
            <br>


            <!--<div class="container chat-window" style="background:rgb(183, 216, 231); color: black;border-radius:5px 5px 5px 5px;">-->
                <div class="contenedorchat app-mensajes" id="app-mensajes">
                    <div class="container-fluid">

                    
                    <div *ngFor="let chat of _cs.chats">
                    
                        <div [ngClass]="{'text-left ':usuarionombre != chat.nombre,

                                        'text-right ':usuarionombre == chat.nombre}">
                            <span class="badge" style="font-size:13px;"[ngClass]="{'badge-primary':usuarionombre == chat.nombre,
                                            'badge-success':usuarionombre != chat.nombre }">
                                {{chat.nombre}}
                            </span>
                            
                            <div >
                                <span style="font-size:12px;color:gray">
                                    [{{chat.fecha | date:'medium'}}] dice:
                                </span>
                            </div>
                            {{chat.mensaje}}
                            <a [href]="chat.url" target= "_blank" class="card-title">
                                <img [src]="chat.url" class="card-img-top"  style="width:50%; height:auto;">    
                            </a>
                        
                        </div>
                        <br>
                    </div>
                    </div>
                    <div appNgDropFiles [archivos]="archivos"
                         (mouseSobre)="pruebaSobreInput($event)"
                         [ngClass]="{'file-over': estaSobreInput }"
                         class=" container send-window " style="margin-top:15px;">
                            <div class="container-fluid">
                                <div class="container col-lg-12 d-flex justify-content-center">
                                    <input 
                                        id="btn-input" 
                                        type="text" 
                                        class="form-control m-auto" 
                                        name="mensaje"
                                        [(ngModel)]="mensaje" 
                                        (KeyUp.enter)="enviarMensaje()" 
                                        placeholder="Escribe y luego enter o click ..." 
                                    />
                                </div>
                                <div class="container col-lg-12 d-flex justify-content-end mt-2" *ngIf ="_cs.usuario.uid">
                                        <button class="btn btn-success"
                                        (click)="enviarMensaje()">Enviar mensaje</button>
                                    
                                </div>    
                            </div>
                    </div>

                </div>
            <!--</div>-->
            
        </div>
    </div>

</div>