/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Roboto', sans-serif;
  
  background: rgb(189, 235, 235);  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to bottom,rgb(212, 211, 211), rgb(200, 199, 199));  
  background: linear-gradient(to bottom,rgb(212, 211, 211), rgb(200, 199, 199)); */
    /*background-image: url('./assets/tienda.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
    margin: 0;
    padding: 0;
    /*width:100%;
    height:1450px;*/
    font-family: sans-serif;
  }

