.contenedorchat {
    margin-top:3px;
    border: 2px outset black;
    width:400px;
    max-width: 90%;
    min-width: 300px;
    height: 570px;
    background: rgb(6, 22, 59);
    color: gray;
    font-family: 'Carter One', cursive;
    font-size: 12px;
    border-radius: 5px 5px 5px 5px
    
}
button{
    font-family: 'Carter One', cursive;
}
h5{
    text-align: center;
    color:rgb(26, 27, 27);
    font-family:'Averia Gruesa Libre', cursive; 
    font-family: 'Arbutus', cursive;
 }
 .contacto{
    font-family: 'Arbutus', cursive;
    font-family:'Averia Gruesa Libre', cursive; 
 }

.chat-window {
    height: 430px;
    min-height: auto;
    overflow: hidden;
    border: 3px outset gray;
    border-radius: 20px;
    padding: 0px
}
.send-window {
    height: auto;
    overflow: hidden;
   
    /*border: 3px outset gray;*/
    /*border-radius: 20px;*/
    padding: 0px
}

.app-mensajes {
    overflow-y: scroll;
    height: 420px;
    padding: 3px;
    font-family: tahoma;
    font-size: 15px;
}

.titulousuarios {
    font-size:15px;
    
    color: rgb(228, 240, 123);
    font-family: cursive;
}
/*cuando se envian imagenes*/
.file-over {
    border: 2px dotted rgb(56, 224, 106);
    background-color: rgb(118, 119, 122);
}

/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}